.small_project_card {
    width: 40%;
    height: 10vh;
    background-color: white;
    margin: 1vh;
}

.large_project_card {
    width: 90%;
    height: 10vh;
    background-color: white;
    margin: 1vh;
}

.mid_project_card {
    width: 90%;
    height: 20vh;
    background-color: white;
    margin: 1vh;
}