.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(82, 51, 51);
  gap: 3vh;
  min-height: 300vh;
}





