.welcome {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    align-items: center;
    justify-content: center;
}

.welcome > p {
    color: black;
    font-size: 2vh;
    margin: 0;
    padding: 2vh;
    height: 10%;
}

.welcome > .first {
    align-self: center;
    color: black;
    font-size: 8vh;
}

.welcome > .second {
    align-self: flex-end;
    color: black;
    font-size: 8vh;
}

.welcome > .third {
    align-self: center;
    color: #99FC29;
    font-size: 8vh;
    margin-bottom: 5vh;
}

.shortinfo {
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.shortinfo .photo {
    height: 100%;
    width: 100%;
}

.photo > img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.languages {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1C1B1B;
    border-radius: 9vh;
}

.language {
    display: flex;
}

.languages > h3 {
    color: #99FC29;
    margin: 0;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
    align-self: center;
}

.name {
    width: 50%;
    padding: 3%;
    padding-left: 15%;
    margin: 0;
    color: white;
    font-size: 2vh;
    align-self: flex-start;
}

.level {
    width: 50%;
    padding: 3%;
    margin: 0;
    color: white;
    font-size: 2vh;
    align-self: flex-end;
}


.skills {
    display: flex;
    align-items: center;
    flex: 0.7;
}

.form {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    border-radius: 9vh;
    background-color: #e5f9c5;
    align-items: center;
    color: black;
}

.form > p {
    margin: 0;
    font-size: 1.5vh;
    padding: 4%;
    padding-left: 5%;
    align-self: flex-start;
}

.form > .header {
    margin: 0;
    margin-top: 10%;
    margin-bottom: 8%;
    margin-left: 4%;
    font-size: 2.5vh;
    align-self: center;
}

.column {
    padding: 1vh;
    background-color: white;
    border-radius: 9vh;
}
