.welcome {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.shortinfo {
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.shortinfo .photo {
    height: 100%;
    width: 100%;
}

.photo > img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.languages {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1C1B1B;
    border-radius:84.1px;
}

.language {
    display: flex;
}

.languages > h3 {
    color: #99FC29;
    margin: 0;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 10%;
    align-self: center;
}

.name {
    width: 50%;
    padding: 3%;
    padding-left: 15%;
    margin: 0;
    color: white;
    font-size: 2vh;
    align-self: flex-start;
}

.level {
    width: 50%;
    padding: 3%;
    margin: 0;
    color: white;
    font-size: 2vh;
    align-self: flex-end;
}




.skills {
    display: flex;
    align-items: center;
    flex: 0.7;
}

.form {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    border-radius:84.1px;
    background-color: #e5f9c5;
    align-items: center;
    color: black;
}

.form > p {
    margin: 0;
    font-size: 1.5vh;
    padding: 4%;
    padding-left: 5%;
    align-self: flex-start;
}

.form > .header {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 13%;
    margin-left: 5%;
    font-size: 3vh;
    align-self: center;
}

.column {
    padding: 1vh;
    background-color: white;
    border-radius:84.1px;
}
